<div class="contact-info h-100">
  <h3> hiii </h3>
  <li><button id="PyBtnGet">Get Default Value</button></li>
  <h3>Send us a message</h3>
  <h3>Contact Information</h3>
  <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, magnam!</p>
  <ul class="list-unstyled">
    <li class="d-flex">
      <span class="wrap-icon icon-room mr-3"></span>
      <span class="text-light">9757 Aspen Lane South Richmond Hill, NY 11419</span>
    </li>
    <li class="d-flex">
      <span class="wrap-icon icon-phone mr-3"></span>
      <span class="text">+1 (291) 939 9321</span>
    </li>
    <li class="d-flex">
      <span class="wrap-icon icon-envelope mr-3"></span>
      <span class="text">info@mywebsite.com</span>
    </li>
  </ul>
</div>
