<!doctype html>
<html lang="en">

<head>



  <title>Contact Form #7</title>
</head>
<body>

<h1> data : api </h1>
<h2> api : get</h2>
<button id="PyBtnGet">GET</button>

<hr>

<form method="post" id="contactForm" name="contactForm">
  <h2> api : post </h2>
  <p> name: <input id="name" name="name" type="text" /> </p>
  <p> email: <input id="email" email="email" type="text" /> </p>
  <p> phone: <input id="phone" phone="phone" type="text" /> </p>
  <p> company: <input id="company" company="company" type="text" /> </p>
</form>

<button id="PyBtnPost">POST</button>
<hr>

<h3>Console: </h3>
<div id="PyConsole"></div>

<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/main.js"></script>


</body>

</html>
